@property --border-type-angle {
    syntax: "<number>";
    initial-value: 20;
}

.pkdex-link {
    --random-value: 10;

    position: relative;

    &::after {
        content: url("/images/arrow.svg");
        position: absolute;
        opacity: 0.15;
        mix-blend-mode: color-burn;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
    }

    &:hover {
        .generation-number {
            @supports (opacity: sibling-index()) {
                transform: translateX(calc(calc(sibling-index() - 2) * -75%));
                -webkit-text-stroke-color: hsl(
                    calc(sibling-index() * var(--random-value)),
                    100%,
                    60%
                );
                opacity: calc(1 - calc(calc(sibling-index() - 2) * 0.15));
                z-index: calc(10 - sibling-index());
            }
        }
    }
}

.generation-number {
    position: absolute;
    font-size: 5rem;
    right: 0;
    bottom: -35px;
    font-weight: bold;
    opacity: 0.35;
    color: transparent;
    transition: transform 150ms, opacity 200ms;
    transition-delay: calc(calc(sibling-index() - 2) * 10ms);

    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;

    &:not(:first-of-type) {
        @supports not (opacity: sibling-index()) {
            display: none;
        }
    }
}
