.separator {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        display: block;
        height: 0.5rem;
        background-color: var(--color-slate-500);
        left: 40%;
        right: 40%;
        height: 0.05rem;
        top: 50%;
        transform: translateY(-50%);
    }
}

.image {
    @starting-style {
        translate: 0 -100%;
        opacity: 0.15;
    }

    transition: translate 350ms ease-in-out;
    translate: 0 0%;
    opacity: 1;
}
