.separator {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        display: block;
        height: 0.5rem;
        background-color: var(--color-slate-500);
        left: 40%;
        right: 40%;
        height: 0.05rem;
        top: 50%;
        transform: translateY(-50%);
    }
}

.image {
    @starting-style {
        translate: 0 -100%;
        opacity: 0.15;
    }

    transition: translate 250ms ease-in-out;
    translate: 0 0%;
    opacity: 1;
}

@keyframes horizontal-shaking {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(var(--offset));
    }
    50% {
        transform: translateX(calc(-1 * var(--offset)));
    }
    75% {
        transform: translateX(var(--offset));
    }
    100% {
        transform: translateX(0);
    }
}

.upload-error {
    --offset: 3px;
    animation: horizontal-shaking 250ms linear 2;
}

@keyframes oscillation {
    0% {
        transform: rotate(5deg);
    }

    5% {
        transform: rotate(-5deg);
    }

    10% {
        transform: rotate(10deg);
    }

    15% {
        transform: rotate(-5deg);
    }

    20% {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.folder-oscillation {
    --angle: 3.5deg;
    animation: oscillation 3500ms ease-in-out infinite 2500ms;
}
