.separator {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        display: block;
        height: 0.5rem;
        background-color: var(--color-slate-500);
        left: 40%;
        right: 40%;
        height: 0.05rem;
        top: 50%;
        transform: translateY(-50%);
    }
}

.image {
    @starting-style {
        translate: 0 -100%;
        opacity: 0.15;
    }

    transition: translate 250ms ease-in-out;
    translate: 0 0%;
    opacity: 1;
}

@keyframes horizontal-shaking {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

.upload-error {
    animation: horizontal-shaking 250ms linear 2;
}
